body, #quote, #author {
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    color: black;
}

#nav{
    background-color: black;
    display: flex;
}


.quoteContainer {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    width: 80%;
    border: 1px solid grey;
    border-radius: 20px;
}

#quote {
    text-align: center;
    font-size: 50px;
}

#author {
    margin-top: 10px;
    font-size: 20px;
}

#refresh-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: burlywood;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#refresh-btn:hover {
    background-color: black;
    color: white;
}